@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Student;
<h1>Are you sure?</h1>

<form asp-action="deleteStudent" asp-controller="Student" method="post">
    <div class="form-group">
        <label asp-for="Id" hidden>ID</label>
        <input asp-for="Id" class="form-control" hidden />
    </div>

    <div class="form-group">
        <label asp-for="FirstName">FirstName</label>
        <input asp-for="FirstName" class="form-control" readonly/>
    </div>

    <div class="form-group">
        <label asp-for="LastName">LastName</label>
        <input asp-for="LastName" class="form-control" readonly />
    </div>

    <div class="form-group">
        <label asp-for="GPA">GPA</label>
        <input asp-for="GPA" class="form-control" readonly />
    </div>

    <div class="form-group">
        <label asp-for="Course">Course</label>
        <select asp-for="Course" asp-items="@Html.GetEnumSelectList(typeof(Course))" class="form-control" disabled></select>
    </div>

    <div class="form-group">
        <label asp-for="AdmissionDate">Admission Date</label>
        <input asp-for="AdmissionDate" class="form-control" readonly />
    </div>

    <div class="form-group">
        <label asp-for="Email">Email</label>
        <input asp-for="Email" class="form-control" readonly />
    </div>

    <button tpye="submit" class="btn btn-primary">Delete</button>
    <button tpye="button" onclick="history.back()" class="btn btn-secondary">Cancel</button>

</form>

