@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Student Details</h1>
<table>
    <tr>
        <td>Name</td>
        <td>@ViewBag.Student.StudentName</td>
    </tr>
    <tr>
        <td>Date Enrolled</td>
        <td>@ViewBag.Student.DateEnrolled</td>
    </tr>
    <tr>
        <td>Course</td>
        <td>@ViewBag.Student.Course</td>
    </tr>
    <tr>
        <td>Email</td>
        <td>@ViewBag.Student.Email</td>
    </tr>



</table>